/* Variables */
:root{
   --primary-color: rgba(13, 110, 139, 0.75);
   --overlay-color: rgba(24, 39, 51, 0.5);
   --menu-speed: 0.75s;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}

