/* Variables */
:root {
   --primary-color: rgba(13, 110, 139, 0.75);
   --overlay-color: rgba(24, 39, 51, 0.5);
   --menu-speed: 0.75s;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
 }

body {
   background-color: rgb(238, 238, 238);
   font-family: 'Roboto', sans-serif;
   line-height: 1.6em;
}

h2 {
   margin: 20px 0;
   color: #00b33c;
   font-size: 40px;
   font-weight: 800;
   letter-spacing: 0.1em;
   word-spacing: 0em;
   text-align: center;
   line-height: 40px;
}

h3 {
   margin: 44px 0 25px 0;
}

p {
   margin: 12px 0;
}

.jumbotron {
   background: rgba(0,0,0,.5);
   padding: 20px;
}

input[type="button"] {
   color: darkgreen;
   padding: 5px 8px;
   background: transparent;
   border-radius: 4px;
   border: 3px solid #4f7712;
   cursor: pointer;
   font-size: 14px;
}

input[type="button"]:hover {
   background: #4f7712;
   color: white;
   transition: ease-in 0.5s;
}

/* Loader - inspired from W3school */
.loader {
   display: block;
   margin: auto;
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #34db4a;
   width: 120px;
   height: 120px;
   -webkit-animation: spin 2s linear infinite; /* Safari */
   animation: spin 2s linear infinite;
 }
 
 /* Safari */
 @-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

/*
**
**
*** Scroll Top Button
**
**
*/

.scroll-top-btn {
   font-size: 50px;
   color: greenyellow;
   position: fixed;
   background-color: transparent;
   padding: 10px;
   bottom: 30px;
   right: 30px;
   opacity: 0;
   cursor: pointer;
   border: none;
   transition: transform 0.5s ease, opacity 0.5s ease,
    background-color 0.3s ease;
}

.scroll-top-btn:hover,
.scroll-top-btn:active {
   color: yellowgreen;
}

.scroll-top-btn:focus {
   outline: none;
}

.show {
   opacity: 1;
   transform: translateY(0);
}

/*
**
**
*** Callout Section
**
**
*/


.container-callout {
   background: url("../img/bg.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

   height: 100vh;


   display: flex;
   align-items: center;
   justify-content: center;
}

.jumbotron h1 {
   color: rgb(255,255,255);
   opacity: 1;
   font-size: 35px;
   font-family: Tomorrow, sans-serif;
   letter-spacing: 3px;
}

/* ARROWS */

.container-callout .scrollDown {
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 50px;
 }

 .container-callout .scrollDown span {
   display: block;
   width: 20px;
   height: 20px;
   margin: -10px;
   border-bottom: 5px solid #e5f3bd;
   border-right: 5px solid #e5f3bd;
   transform: rotate(45deg);
   animation: arrows 2s infinite;
 }

 .container-callout .scrollDown span:nth-child(1) {
   animation-delay: -0.2s;
 }

 .container-callout .scrollDown span:nth-child(2) {
   animation-delay: -0.4s;
 }

 @keyframes arrows {
   0% {
     opacity: 0;
     transform: rotate(45deg) translate(-20px, -20px);
   }
   50% {
     opacity: 1;
   }
   100% {
     opacity: 0;
     transform: rotate(45deg) translate(20px, 20px);
   }
 }


/*
**
**
*** About Section
**
**
*/

#about-section {
   margin-top: -70px;
   margin-bottom: 70px;
}

.container-index-about {
   margin: auto;
   padding: 40px 20px 80px 20px;
   max-width: 900px;
}

.container-index-about .who-we-are {
   padding: 40px 20px 80px 20px;
}

.container-index-about .who-we-are h2 {
   text-align: left;
}

.container-index-about .our-purpose {
   padding: 40px 20px 80px 20px;
}

.container-index-about .our-purpose h2 {
   text-align: right;
}

/*
**
**
*** Pre-Gallery section
**
**
*/

.container-pre-gallery {
   background: url("../img/bg.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   
   height: 30vh;
  
   
   display: flex;
   align-items: center;
   justify-content: center;
}

.container-pre-gallery h2 {
   color: #fff;
}


/*
**
**
*** Gallery section
**
**
*/

.container-gallery {
   text-align: center;
   margin: 50px 0;
}

.container-gallery .img-wrap {
   text-align: center;
   padding: 20px 0;
   min-height: 300px;

   display: flex;
   text-align: center;
   justify-content: center;
}

.container-gallery .img-wrap img {
   width: 300px;
}

.container-gallery .img-error-msg {
   display: none;
   color: red;
}

@media only screen and (min-width: 960px){
   .container-gallery .img-wrap img {
      width: 500px;
   }
}


/*
**
**
*** Footer
**
**
*/

footer {
   background-color: rgb(129, 129, 129);
   padding: 15px 0;
}

footer h4 {
   text-align: center;
   color: #fff;
   font-size: 25px;
}

footer .social-media {
   text-align: center;
}

footer .social-media ul {
   list-style-type: none;
   display: flex;
   justify-content: center;
}

footer .social-media ul .social-icons-first {
   margin-right: 20px;
}

footer .social-media .fa {
   padding: 6px;
   font-size: 16px;
   width: 30px;
   text-decoration: none;
   margin: 5px 2px;
   border-radius: 33%;

   color: black;
   background-color: greenyellow;
}

footer .social-media .fa:hover {
   opacity: 0.7;
}

footer .footer-menu {
   text-align: center;
   padding: 15px 0;
}

footer .footer-menu ul {
   list-style-type: none;
}

footer .footer-menu ul li {
   margin: 10px;
}

footer .footer-menu ul li a {
   text-decoration: none;
   color: #fff;
}

footer .footer-menu ul li a:hover {
   color: rgb(221, 220, 220);
}

@media only screen and (min-width: 400px){
   footer .social-media ul .social-icons-first {
      display: flex;
      margin-right: initial;
   }

   footer .social-media ul .social-icons-second {
      display: flex;
   }

   footer .social-media ul li {
      padding: 0 5px;
   }
}

@media only screen and (min-width: 960px){
   footer {
      display: flex;
   }

   .social-media {
      width: 50%;
      order: 1;

      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .social-media h4 {
      margin-bottom: 20px;
   }

   .footer-menu {
      width: 50%;
   }
}

