.main-menu {
   text-align: right;
   border-bottom: 1px solid #464646;
   height: 70px;
   line-height: 70px;

   background-color: rgba(0,0,0,.5);

   position: fixed;
   width: 100%;
   z-index: 1001;
}

.main-menu label {
   margin: 0 40px 0 0;
   font-size: 26px;
   line-height: 70px;
   display: block;
   cursor: pointer;
   float: right;
   width: 25px;
   color: rgb(230, 230, 20);
}

#toggle {
   display: none;
}

#toggle:checked ~ .menu {
   display: block;
   animation: showNav 550ms ease-in-out;
}

@keyframes showNav {
   from {opacity: 0;}
   to {opacity: 1;}
 }

 .main-menu .menu {
   clear: right;
   display: none;
   background-color: rgba(0,0,0,.5);
}

#logo {
   display: inherit;
   position: absolute;
   top: 10px;
   border-radius: 29px;
   left: 10px;
   z-index: 1001;
}

#logo:hover {
   animation: rotation 1s ease-in-out;
}

@keyframes rotation {
   from {
         -webkit-transform: rotate(0deg);
   }
   to {
         -webkit-transform: rotate(359deg);
   }
}



.main-menu .menu ul li {
   display: block;
   padding: 0 20px;
   text-align: center;
}

.main-menu .menu ul li a {
   color: white;
   text-decoration: none;
}

.main-menu .menu ul li a:hover {
   color: #07fd40;
   transition: color .5s ease-out;
}

.main-menu .menu ul li .active {
   color: #07fd40;
}

@media only screen and (min-width: 960px){
   .main-menu {
      background-color: inherit;
   }

   .main-menu label {
      display: none;
   }

   .main-menu .menu {
      display: block;
   }

   .main-menu .menu ul li {
      display: inline-block;
      padding: 0 20px;
      text-align: center;
   }
}

.hamburger {
   position: absolute;
   top: 10px;
   right: 5%;
   margin-left: -2em;
   margin-top: -45px;
   width: 2em;
   height: 45px;
   z-index: 5;
 }
 
 .hamburger div {
   position: relative;
   width: 35px;
   height: 4px;
   border-radius: 3px;
   background-color: greenyellow;
   margin-top: 8px;
   transition: all 0.3s ease-in-out;
 }

 #toggle:checked + .hamburger .top-bun {
   transform: rotate(-45deg);
   margin-top: 25px;
 }
 #toggle:checked + .hamburger .bottom-bun {
   opacity: 0;
   transform: rotate(45deg);
 }
 #toggle:checked + .hamburger .meat {
   transform: rotate(45deg);
   margin-top: -5px;
 }

